/*
----------------------------------------------------------*/
body {background:#d8d8d8 url(bg-main.png) center top no-repeat;font-size:.75em;font-family:Verdana, Helvetica, Sans-Serif;margin:20px 0;padding:0;color:#696969;}
a:link {color:#034af3;text-decoration:underline;}
a:visited {color:#505abc;}
a:hover {color:#1d60ff;text-decoration:none;}
a:active {color:#12eb87;}
p, ul {margin-bottom:20px;}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {font-size:1.5em;color:#000;font-family:Arial, Helvetica, sans-serif;}
h1 {font-size:2em;padding-bottom:0;margin-bottom:0;}
h2 {padding:0 0 10px 0;}
h3 {font-size:1.2em;}
h4 {font-size:1.1em;}
h5, h6 {font-size:1em;}
/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {margin-top:0;}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
.page {width:950px;margin-left:auto;margin-right:auto;}
#header {position:relative;margin:0;color:#000;padding:25px 0 0 0;width:950px;}
	#header h1 {padding:0;margin:0;color:#000;border:none;font-family:Arial, Helvetica, sans-serif;font-size:1.7em;}
    #title {display:block;width:270px;float:right;margin:-8px 0 0 15px;}
    #logindisplay {font-size:1.1em;display:block;text-align:right;color:#ccc;width:300px;position:absolute;top:-16px;right:15px;font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
    #menucontainer {float:left;}
#main {padding:30px 30px 15px 30px;background:#fff url(bg-main-corner-sprite.png) no-repeat;margin-bottom:30px;_height:1px;clear:both;position:relative;width:890px;}
#ads {color:#999;padding:5px 0;text-align:center;position:absolute;bottom:-145px;left:0;font-size:.9em;background:#FFF url(bg-main-corner-sprite.png) no-repeat -950px bottom;width:950px;}
#footer {color:#999;padding:25px 0;text-align:center;position:absolute;bottom:-60px;left:0;font-size:.9em;background:#FFF url(bg-main-corner-sprite.png) no-repeat -950px bottom;width:950px;}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {padding:0;position:relative;margin:0 0 0 15px ;text-align:right;}
ul#menu li {display:block;list-style:none;background:#e8eef4 url(bg-nav-corner-sprite.png) no-repeat 0 -150px;float:left;margin:0 2px 0 0;}
ul#menu li a {padding:8px 20px;font-weight:bold;text-decoration:none;color:#034af3;background: transparent url(bg-nav-corner-sprite.png) no-repeat right -150px;display:block;}
ul#menu li a:hover {text-decoration:none;color:#000;}
ul#menu li a:active {text-decoration:none;color:#009933;}
ul#menu li.selected {background:#fff url(bg-nav-corner-sprite.png) no-repeat 0 -150px;}
ul#menu li.selected a {color:#000;}

/* MISC 
----------------------------------------------------------*/
.clear {clear:both;}
.error {color:Red;}
#logindisplay a:link, #logindisplay a:visited {color:#034af3;text-decoration:none;}
#logindisplay a:hover {color:#034af3;text-decoration:underline;}
.field-validation-error {color:#ff0000;}
.input-validation-error {border:1px solid #ff0000;background-color:#ffeeee;}
.validation-summary-errors {font-weight:bold;color:#ff0000;}

.logo
{
	width: 175px;
	height: 35px;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

div#paypal
{
    float:right;
    height: 35px;
}

#creditcards
{
	height: 35px;
}

.table-cell-action
{
	width: 250px;
}

.table-cell-inner-results-name
{
	width: 250px;
}

.table-cell-inner-results-bet-type
{
	width: 75px;
}
.table-cell-inner-results-bet-amount
{
	width: 50px;
}

table td 
{
  padding: 4px;   
}

.success
{
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('/Content/success.png');
}

.uparrow
{
	background-image:url('/content/up_arrow.png');
	background-repeat: no-repeat;
	background-position: left;
	color: #4F8A10;
	display:block;
	text-align:justify;
	text-indent:15px;
}

.downarrow
{
	background-image:url('/content/down_arrow.png');
	background-repeat: no-repeat;
	background-position: left;
	color: #B80F22;
	display:block;
	text-align:justify;
	text-indent:15px;
}

.tooltip {
	background-color:#000;
	border:1px solid #fff;
	padding:10px 15px;
	width:200px;
	display:none;
	color:#fff;
	text-align:left;
	font-size:12px;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}

.announcement 
{
	position: relative;
	top: 5px;
	border: 2px solid #ccc; 
	padding: 4px 4px 4px 4px;
	font-weight: bold;
	color: Red
}